/*******************************
components
*******************************/
/*******************************
header
*******************************/
.test {
  display: flex;
  flex-direction: column;
}